<div data-controller="client_search">
  <%= simple_form_for(@booking) do |f| %>
    <div data-client_search-target="form">
      <div data-client_search-target="phone" data-action="input->client_search#search">
        <%= f.input :phone_number, label: "Customer's phone number", style: "display: block" %>
      </div>
      <div data-client_search-target="name">
        <%= f.input :name, label: "Customer's name", style: "display: block" %>
      </div>
      <div data-client_search-target="surname">
        <%= f.input :surname, label: "Customer's surname", style: "display: block" %>
      </div>
    </div>
    <div>
      <%= f.input :start_at, placeholder: 'start_at' %>
    </div>
    <div>
      <%= f.collection_select :category_id, Category.order(:name), :id, :name, prompt: "Select a Category", style: "display: block"  %>
    </div>
    <div>
      <%= f.collection_select :combo_offer_id, ComboOffer.order(:name), :id, :name, prompt: "Select a Combo Offer", style: "display: block"  %>
    </div>
    <div>
      <%= f.input :note, label: "Notes", style: "display: block" %>
    </div>
    <div>
      <%= f.submit "Register" %>
    </div>
  <% end %>
</div>
