<div data-controller="client-search">
  <%= simple_form_for(@booking) do |f| %>
    <div data-client-search-target="form">
      <div>
        <%= f.input :phone_number, input_html: { data: { client_search_target: 'phone', action: 'keyup->client-search#search' }}, label: "Customer's phone number", style: "display: block" %>
      </div>
      <div>
        <%= f.input :name, input_html: { data: { client_search_target: 'clientname' }}, label: "Customer's name", style: "display: block" %>
      </div>
      <div>
        <%= f.input :surname, input_html: { data: { client_search_target: 'clientsurname' }}, label: "Customer's surname", style: "display: block" %>
      </div>
    </div>
    <div>
      <%= f.input :start_at, placeholder: 'start_at' %>
    </div>
    <div class="inline">
      <div class="cats">
        <div>
          <%= f.input :category, collection: Category.order(:name), prompt: "Select a Category", label: false, input_html: { data: { client_search_target: 'category', action: "change->client-search#select" }} %>
        </div>
      </div>
      <div>
        <%= f.input :combo_offer_id, collection: ComboOffer.order(:name), label: false, prompt: "Select a Combo Offer" %>
      </div>
    </div>
    <div>
      <%= f.input :note, label: "Notes", style: "display: block" %>
    </div>
    <div>
      <%= f.submit "Register" %>
    </div>
  <% end %>
</div>
