<%= simple_form_for([booking, client, sub_category, category]) do |form| %>
  <div>
    <%= form.label :client_name, style: "display: block" %>
    <%= form.text_field :client_name %>
  </div>
  <div>
    <%= form.label :client_surname, style: "display: block" %>
    <%= form.text_field :client_surname %>
  </div>
  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>
  <div>
    <%= form.select :category, style: "display: block" %>
    <%= form.text_field :choose_a_category %>
  </div>

<% end %>
