<%= simple_form_for(booking) do |f| %>
  <div>
    <%= f.label :name, :label => "Customer's name",  :required => false, style: "display: block" %>
    <%= f.text_field :category_id %>
  </div>
  <div>
    <%= f.label :surname, :label => "Customer' surname", :required => false, style: "display: block" %>
    <%= f.text_field :category_id %>
  </div>
  <div>
    <%= f.label :phone_number, :label => "Customer's phone number", style: "display: block" %>
    <%= f.text_field :category_id  %>
  </div>
  <div>
    <%= f.input :start_at, placeholder: 'start_at' %>
  </div>
  <div>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name, style: "display: block"  %>
  </div>
  <%= f.submit "Register" %>

<% end %>
