<%= simple_form_for(@booking) do |f| %>
  <div>
    <%= f.input :phone_number, label: "Customer's phone number", style: "display: block" %>
  </div>
  <%= link_to new_client_path , class: "home-link" do %>
    <button class="home_button reservation_button">
      <div class="grey">
        creer un client
      </div>
    </button>
  <% end %>
  <div>
    <%= f.input :start_at, placeholder: 'start_at' %>
  </div>
  <div>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name, style: "display: block"  %>
  </div>
  <%= f.submit "Register" %>

<% end %>
