<div class="container mt-5 text-center">
  <%= link_to new_booking_path, class: "home-link" do %>
    <button class="home_button reservation_button">
      <div class="grey">
        ΚΑΝΕ ΜΙΑ ΚΡΑΤΗΣΗ
      </div>
    </button>
  <% end %>
  <%= week_calendar(events: @bookings) do |date, bookings| %>
    <div class="day">
      <%= date.strftime("%e %b %Y") %>
    </div>
    <div>
      <% bookings.each do |booking| %>
        <%= booking.client.full_name %>
        <p>from <%= booking.start_time.strftime("%H:%M") %> to <%= booking.end_time.strftime("%H:%M") %></p>
      <% end %>
    </div>
  <% end %>
</div>
