<div id="planning-table" data-controller="planning" data-planning-shifts-value="<%= @shifts %>">

  <% Tonic::TONIC_ATHENS_DAYS.each do |day| %>
    <div class="<%= day[:name] %> day-column">
      <div class="day-cell"><%= day[:name] %></div>
      <% shifts = @shifts.select{ |shift| shift.beginning.strftime("%A") == day[:name] } %>
      <% unless shifts.empty? %>
        <div class="shift-cell">
          <% shifts.each do |shift| %>
            <% start_index = (shift.beginning - (9 * 3600)).strftime("%H").to_f.floor * 6 %>
            <% end_index = (shift.ending - (9 * 3600)).strftime("%H").to_f.floor * 6 - 1 %>
            <div>
              <div style="height:<%= 5 * start_index %>px;">-</div>
              <div style="height:<%= 5 * (end_index - start_index) %>px; background-color: <%= shift.employee.color %>;"><%= shift.employee.first_name %></div>
              <div style="height:<%= 5 * (78 - end_index) %>px;">-</div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
