<div id="planning-table" data-controller="planning" data-planning-shifts-value="<%= @shifts %>">
    <% Tonic::TONIC_ATHENS_DAYS.each do |day| %>
      <div class="<%= day[:name] %> day-column">
        <div class="day-cell"><%= day[:name] %></div>
        <div class="employees-column">
          <div>
            <% hour = 9 %>
            <% mins = 0%>
            <% 13.times do %>
              <div class="planning-hour">
                <% 6.times do %>
                  <div class="planning-cell <%= day[:name] %> <%= hour %>:<%= mins == 0 ? "0" : "" %><%= mins %>"></div>
                  <% mins += 10 %>
                  <% if mins == 60 %>
                    <% hour += 1 %>
                    <% mins = 0 %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>
